.right {
  text-align: right;
}

.header {
  margin-top: 30px;
}

.shrink {
  width: 60%;
  margin-top: 15px;
}

hr {
  border: 1px solid #13ACDA;
  margin-top: 0;
}

h6 {
  font-weight: bold;
  margin: 0;
}

.education, .project{
  margin-bottom: 10px;
}

.edu-ins {
  margin-bottom: 2px;
}

.edu-year {
  display: flex;
  justify-content: space-between;
  color: #13ACDA;
  font-size: small
}

.edu-year p{
  margin: 0;
}

.cgpa {
  font-size: 15px;
  font-weight: bold;
  color: #13ACDA;
  margin: 0;
}

